<script defer>

  document.addEventListener("DOMContentLoaded", startup);

  var touchStart;

  function startup() {

    document.addEventListener(
      "touchstart", scrollToAbout, { passive: false, once: true });

    document.addEventListener(
      "wheel", scrollToAbout, { passive: false, once: true });
  }

  // homepage: scroll to about on wheel/swipe down
  function scrollToAbout() {

    // scroll to about section
    setTimeout(function () {

      // hide obsolete arrow navigation
      var arrowElement = document.getElementById('shift-nav');
      arrowElement.style.visibility = 'hidden';

      // fix splash size
      var splashElement = document.getElementById('splash');
      splashElement.style.height = splashElement.offsetHeight + 'px';

      // scroll to about information
      var aboutElement = document.getElementById('about-us');
      aboutElement.style.display = "block";
      aboutElement.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' });
    }, 200);
  }
</script>
