<style>
    .splash {
        width: min(400px, 95vw);
        height: 260px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .splash h1,
    .splash h2,
    .splash h3,
    .splash p {
        text-align: center;
        color: #bbbbbb;
    }

    .splash h1 {
        font-size: 3.5em;
        line-height: 1;
        color: rgba(230, 199, 76, 0.95);
        margin: 0 0 1rem 0;
    }

    .splash h2 {
        font-size: 1.5em;
        margin: 0 0 3rem 0;
    }

    @media screen and (max-width: 480px) {
        .splash {
            width: min(280px, 95vw);
        }
    }
</style>