<style>
  html {
    font-family: "Rubik", "Google Sans", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #e0e0e0;

    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
  }

  /* LAYOUTS */
  body {
    color: #adadad;
    background-color: #1b1b1b;

    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    overflow-y: scroll;

    margin: 0;
    padding: 2rem 1rem;
    min-height: calc(100dvh - 4rem);
  }

  /* stripes | portrait, tall */
  @media (orientation: portrait) {
    body {
      background-image:
        repeating-linear-gradient(-230deg,
          hsl(24, 42%, 12%) 0 45.575dvw,
          hsl(218, 26%, 12%) 45.575dvw 102.054dvw,
          hsl(45, 50%, 12%) 102.054dvw 126.099dvw,
          hsl(0, 1%, 12%) 126.099dvw 139.520dvw,
          hsl(96, 21%, 12%) 139.520dvw 201.312dvw);
    }
  }

  /* stripes | portrait, squarish */
  @media (orientation: portrait) and (min-aspect-ratio: 0.8) {
    body {
      background-image:
        repeating-linear-gradient(-230deg,
          hsl(24, 42%, 12%) 0 37.979dvw,
          hsl(218, 26%, 12%) 37.979dvw 85.045dvw,
          hsl(45, 50%, 12%) 85.045dvw 105.083dvw,
          hsl(0, 1%, 12%) 105.083dvw 116.267dvw,
          hsl(96, 21%, 12%) 116.267dvw 167.760dvw);
    }
  }

  /* stripes | landscape */
  @media (orientation: landscape) {
    body {
      background-image:
        repeating-linear-gradient(-230deg,
          hsl(24, 42%, 12%) 0 30.383dvw,
          hsl(218, 26%, 12%) 30.383dvw 68.036dvw,
          hsl(45, 50%, 12%) 68.036dvw 84.066dvw,
          hsl(0, 1%, 12%) 84.066dvw 93.013dvw,
          hsl(96, 21%, 12%) 93.013dvw 134.208dvw);
    }
  }

  main,
  footer {
    display: block;
    position: relative;
    max-width: 750px;
    margin: 1rem auto;
    width: 100%;
  }

  footer {
    padding-top: 1rem;
    border-top: solid;
    border-width: 1px;
    border-color: #0b0b0b;
  }

  /* TYPOGRAPHY */
  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .page-title {
    font-weight: 600;
    margin-top: 2.5rem;
    line-height: 1.1;
  }

  h1 {
    font-size: 2.5em;
    color: rgba(230, 199, 76, 0.50);
  }

  h2 {
    font-size: 2em;
    font-weight: 400;
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
  }

  p,
  .body-font {
    font-size: larger;
    line-height: 1.5em;
  }

  ol,
  ul {
    font-size: larger;
    line-height: 1.1em;
  }

  li {
    line-height: 1.1em;
    margin-bottom: 0.5rem;
  }

  a {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover {
    color: #c9c9c9;
  }

  code {
    font-family: "Menlo", "Inconsolata", "Consolas", "Courier New", monospace;
    border: 1px solid rgba(145, 145, 145, 0.35);
    border-radius: 3px;
    background-color: #191919;
    padding: 1px 5px;
  }

  /* FONT STYLES */
  .page-title,
  .section-title,
  .site-title {
    font-size: 1.8em;
    font-weight: 600;
    line-height: 1;
    color: rgba(230, 199, 76, 0.50);
  }

  .site-title {
    font-size: 1.5em;
  }

  .site-tagline {
    font-weight: 200;
    color: rgba(173, 173, 173, 0.6);
  }

  .site-legal-links {
    font-size: 0.9em;
    font-weight: 200;
    color: rgba(173, 173, 173, 0.5);
  }

  .page-title,
  .section-title {
    font-size: 3.5em;
    color: rgba(230, 199, 76, 0.70);
    margin-bottom: 2rem;
  }

  .section-title {
    font-size: 2.5rem;
  }

  .page-last-updated {
    font-size: 0.9em;
    color: rgba(173, 173, 173, 0.9);
    margin-top: 3rem;
  }

  @media screen and (max-width: 480px) {

    .page-title {
      font-size: 3rem;
    }

    .section-title {
      font-size: 2.1rem;
    }

    h2 {
      font-size: 1.8rem;
    }
  }


  /* SHOW/HIDE CONTROLS */
  @media screen and (max-width: 480px) {
    .not-mobile {
      display: none;
    }
  }

  @media screen and (min-width: 480px) {
    .mobile-only {
      display: none;
    }
  }

  /* BUTTONS */
  button {
    min-height: 3.2em;
  }

  @media screen and (max-width: 480px) {
    button {
      width: 100%;
    }
  }
</style>
