<style>
  .splash-page {
    height: calc(100dvh - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .splash {
    width: min(400px, calc(100vw - 3rem));
    text-align: center;
  }

  .splash h1,
  .splash h2,
  .splash h3,
  .splash p {
    color: #bbbbbb;
  }

  .splash h1 {
    font-size: 3.5em;
    line-height: 1;
    color: rgba(230, 199, 76, 0.85);
    margin: 0 0 1rem 0;
  }

  .splash h2 {
    font-size: 1.5em;
    margin: 0 0 2rem 0;
  }

  @media screen and (max-width: 480px) {

    .splash h1 {
      font-size: 2.9em;
      font-weight: 500;
    }
  }

  .splash p {
    font-size: 1rem;
    line-height: 1.3;
  }

  .learn-more {
    text-align: center;
  }

  .learn-more-button {
    cursor: pointer;
    display: inline-block;

    border: none;
    border-radius: 8px;
    background-color: unset;

    margin: 0;
    min-height: unset;
    padding: 0.75rem 2rem;

    font-family: inherit;
    font-size: 2em;
    font-weight: bold;
    color: rgba(230, 199, 76, 0.5);

    text-align: center;
    text-decoration: none;
  }

  .learn-more-button:hover {
    color: rgba(230, 199, 76, 0.85);
  }

  .learn-more-button:active {
    color: rgba(230, 199, 76, 0.5);
    background-color: rgba(230, 199, 76, 0.01);
  }

  .learn-more-button:visited {
    color: rgba(230, 199, 76, 0.5);
  }
</style>
