<script defer>
  function scrollToAbout() {
    setTimeout(function () {
      var arrowElement = document.getElementById('shift-nav');
      arrowElement.style.display = 'none';

      var aboutElement = document.getElementById('about-us');
      aboutElement.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'start' });
    }, 200);
  }

  function scrollToStart(id) {
    setTimeout(function () {
      var element = document.getElementById(id);
      element.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'start' });
    }, 200);
  }

  function scrollToEnd(id) {
    setTimeout(function () {
      var element = document.getElementById(id);
      element.scrollIntoView({ behavior: 'smooth', block: 'end', inline: 'end' });
    }, 200);
  }
</script>
