@charset "utf-8";

// NOTE: this extends inline styles
// head-base-styles.html
// head-home-styles.html

// BASE STYLES

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
}