@charset "utf-8";

// Typography and fonts
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-line-height: 1.5 !default;

// Layout sizes
$on-palm: 480px !default;
$on-laptop: 750px !default;
$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

/* Use media queries like this:

@include media-query($on-palm) {
  [..]
}

*/

// Colors
$brand-color: #919191 !default;
$brand-color-light: lighten($brand-color, 5%) !default;
$brand-color-dark: darken($brand-color, 35%) !default;

$site-title-color: rgba(230, 199, 76, 0.50);

$text-color: #bbbbbb !default;
$background-color: #181818 !default;
$code-background-color: #212121 !default;

$border-color-01: $brand-color-dark;
$border-color-02: $brand-color-light;
$border-color-03: $brand-color;