<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">
{%- include head.html -%}

<body>
  <main aria-label="Content" id="main-content">
    {{ content }}
    {%- if page.last_updated -%}
    <div class="page-last-updated">
      Last updated:
      <time datetime="{{ page.last_updated | date_to_xmlschema }}" itemprop="dateModified">
        {{ page.last_updated | date: "%B %-d, %Y" }}
      </time>
    </div>
    {%- endif -%}
  </main>
  {%- include footer.html -%}
</body>

</html>
